# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [32]:
# import numpy and pandas
import numpy as np
import pandas as pd

from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
regular_pokemon = pokemon[pokemon['Legendary'] == False]
legendary_pokemon = pokemon[pokemon['Legendary'] == True]

print('There are {} Regular Pokemons, and {} Legendary ones.'.format(len(regular_pokemon), len(legendary_pokemon)))

There are 735 Regular Pokemons, and 65 Legendary ones.

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:
print(regular_pokemon.Total.describe())
print('\n')
print(legendary_pokemon.Total.describe())

count    735.000000
mean     417.213605
std      106.760417
min      180.000000
25%      324.000000
50%      425.000000
75%      498.000000
max      700.000000
Name: Total, dtype: float64


count     65.000000
mean     637.384615
std       60.937389
min      580.000000
25%      580.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
# Your code here:

t, pval = ttest_ind(regular_pokemon.Total, legendary_pokemon.Total, equal_var=False)

if pval < .05:
    print('Since our pval, {:0.05}, is less than 0.05, we reject the Null Hypothesis, thus there is no statistical evidence to say that the means of these groups are equal'.format(pval))
else:
    print('Since our pval, {:0.05}, is greater than 0.05, we accept the Null Hypothesis, thus there is statistical evidence to say that the means of these groups are equal'.format(pval))

Since our pval, 9.358e-47, is less than 0.05, we reject the Null Hypothesis, thus there is no statistical evidence to say that the means of these groups are equal

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# Since our pval, 9.358e-47, is less than 0.05, we reject the Null Hypothesis, thus there is no statistical evidence to say that the means of these groups are equal

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
# Your code here:

water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
water_pokemon.Total.mean()
water_pokemon.Total.std()

nonwater_pokemon = pokemon[pokemon['Type 1'] != 'Water']
nonwater_pokemon.Total.mean()
nonwater_pokemon.Total.std()

mean_diff = water_pokemon.Total.mean() - nonwater_pokemon.Total.mean()
std_diff = water_pokemon.Total.std() - nonwater_pokemon.Total.std()


print('The difference in means is {:0.2}, and the difference in standard deviation is {:0.2}.'.format(mean_diff, std_diff))

The difference in means is -5.4, and the difference in standard deviation is -7.9.

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [22]:
# Your code here:

t, pval = ttest_ind(water_pokemon.Total, nonwater_pokemon.Total, equal_var=False)

if pval < .05:
    print('Since our pval, {:0.05}, is less than 0.05, we reject the Null Hypothesis, thus there is no statistical evidence to say that the means of these groups are equal'.format(pval))
else:
    print('Since our pval, {:0.05}, is greater than 0.05, we accept the Null Hypothesis, thus there is statistical evidence to say that the means of these groups are equal'.format(pval))

Since our pval, 0.64339, is greater than 0.05, we accept the Null Hypothesis, thus there is statistical evidence to say that the means of these groups are equal

Write your conclusion below.

In [10]:
# Your conclusions here:
Since our pval, 0.64339, is greater than 0.05, we accept the Null Hypothesis, thus there is statistical evidence to say that the means of these groups are equal

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [25]:
# Your code here:
t, pval = ttest_rel(pokemon.Attack, pokemon.Defense)

if pval < .05:
    print('Since our pval, {:0.05}, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them'.format(pval))
else:
    print('Since our pval, {:0.05}, is greater than 0.05, we accept the Null Hypothesis, thus  there is not a statistically significant difference between them'.format(pval))

Since our pval, 1.714e-05, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# Since our pval, 1.714e-05, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [26]:
# Your code here:

t, pvalue = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

if pval < .05:
    print('Since our pval, {:0.05}, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them'.format(pval))
else:
    print('Since our pval, {:0.05}, is greater than 0.05, we accept the Null Hypothesis, thus  there is not a statistically significant difference between them'.format(pval))

Since our pval, 1.714e-05, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# Since our pval, 1.714e-05, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference between them

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [29]:
# Your code here:

# Mu = 0 
pob = 0 

# Test
t, pvalue = ttest_1samp(pokemon.Attack-pokemon.Defense, pob)  

# Pval
round(pvalue*100,5) # Same as before.

0.00171

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [30]:
# Your code here:

ctab = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'], margins=True, margins_name="Total")
ctab

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
Legendary,,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108,735
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4,65
Total,69,31,32,44,17,27,52,4,32,70,32,24,98,28,57,44,27,112,800

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [35]:
# Your code here:

chi2, pval, dof, expected = chi2_contingency(ctab, correction=True, lambda_=None)

if pval < .05:
    print('Since our pval, {:0.05}, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference in frequencies between them'.format(pval))
else:
    print('Since our pval, {:0.05}, is greater than 0.05, we accept the Null Hypothesis, thus  there is not a statistically significant difference in frequencies between them'.format(pval))

Since our pval, 1.4122e-06, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference in frequencies between them

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

# Since our pval, 1.4122e-06, is less than 0.05, we reject the Null Hypothesis, thus there is a statistically significant difference in frequencies between them.