# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [4]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

path = 'C:/Users/jfcon/Dropbox/PC/Documents/Ironhack2022/Modulo2/labs/lab-two-sample-hypothesis-tests/pokemon.csv'
pokemon = pd.read_csv(path)

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:
pokemon.groupby('Legendary').agg({'Total':{'mean', 'std'}})

                Total
                  std        mean
Legendary
False      106.760417  417.213605
True        60.937389  637.384615

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(pokemon[pokemon['Legendary'] == True].Total, pokemon[pokemon['Legendary'] == False].Total, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [22]:
# Your conclusions here:
# Se logra apreciar que el pvalue es muy peque√±o por lo que se puede concluir que hay una diferencia significativa entre ambas medias

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
# Your code here:

pokemon.groupby(pokemon['Type 1'] == 'Water').agg({'Total':{'mean', 'std'}})

             Total
               std        mean
Type 1
False   121.091682  435.859012
True    113.188266  430.455357

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
# Your code here:

ttest_ind(pokemon[pokemon['Type 1'] == 'Water'].Total, pokemon[pokemon['Type 1'] != 'Water'].Total, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [14]:
# Your conclusions here:

# al tener un pvalue de 0.658 se puede decir que no hay una diferecia significativa con las medias.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [61]:
# Your code here:
from scipy.stats import ttest_rel
print(pokemon.pivot_table(index=['Name'], values = ['Attack','Defense']).mean())
print(ttest_rel(pokemon.Attack, pokemon.Defense))

Attack     79.00125
Defense    73.84250
dtype: float64
Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [60]:
# Despues de realizar la comparacion entre las dos columnas vemos un pvalue muy pequeno por lo cual se rechaza la hipotesis de que attack and defense sean iguales (diferencia significativa)

pokemon.columns
#employee.pivot_table(index=['Department', 'Title'], values = ['Years','Salary'], aggfunc = {'Years':np.sum,'Salary':'mean'})

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [46]:
# Your code here:
print(pokemon.pivot_table(index=['Name'], values = ['Sp. Atk','Sp. Def']).mean())
print(ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']))

Sp. Atk    72.8200
Sp. Def    71.9025
dtype: float64
Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [49]:
# Despues de realizar la comparacion entre los dos campos, se logra apreciar un pvalue mas grande 0.1 lo cual nos indica que no hay diferencias significativa en las medias, por lo que se acepta la Ho

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [56]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Sp. Atk']- pokemon['Sp. Def'], 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [67]:
# Your code here:
pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')

Type 1     False  True
Legendary
False        627    108
True          61      4

In [65]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [68]:
# Your code here:

from scipy.stats import chi2_contingency

chi2_contingency(pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water'))

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [69]:
# Your answer here:
# Despues de revisar los resultados de la prueba de chi2 sobre el crosstab, se concluye que pvalue esta dentro del intervalo de confianza por lo que se acepta la H0.