# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

pokemon.pivot_table(index='Legendary', values='Total', aggfunc=('mean', 'std'))

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

l_t = pokemon[pokemon['Legendary'] == True].Total
nl = pokemon[pokemon['Legendary'] == False].Total

'''

Calculate the T-test for the means of *two independent* samples of scores.

This is a two-sided test for the null hypothesis that 2 independent samples
have identical average (expected) values. This test assumes that the
populations have identical variances by default.

'''

ttest_ind(l_t, nl, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

# Since our p_value is tends to zero (way smaller to fit our 95% trust index) we can deduce our samples are significantly different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

vc = pd.DataFrame(pokemon['Type 1'].value_counts())

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

p_w_mn = pokemon[pokemon['Type 1'] == 'Water'].Total
p_nw_mn = pokemon[pokemon['Type 1'] != "Water"].Total

p_w_std = pokemon[pokemon['Type 1'] == 'Water'].Total
p_nw_std = pokemon[pokemon['Type 1'] != "Water"].Total

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:

ttest_ind(p_w_std, p_nw_std, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:


# There is not a significant difference between the water pokemons total power points and other types

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [23]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [22]:
# Your code here:

# Difference between defense and attack
# null hypothesis: They are equal

from scipy.stats import ttest_rel

ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# We reject our hypothesis of both scores being the same, our p_value is outside out confidence level

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [34]:
sd_m = pokemon['Sp. Def']
sa_m = pokemon['Sp. Atk']

In [35]:
# Your code here:
'''

Calculate the t-test on TWO RELATED samples of scores, a and b.

This is a two-sided test for the null hypothesis that 2 related or
repeated samples have identical average (expected) values.

'''

ttest_rel(sd_m, sa_m)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:

# We cannot reject our null hypothesus of spaecial attack being significantly related

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [37]:
# Your code here:
    
from scipy.stats import ttest_1samp

ttest_1samp(sd_m - sa_m, 0) == ttest_rel(sd_m, sa_m)

True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [76]:
# Your code here:

obs = pd.crosstab(index = pokemon['Type 1'], columns = pokemon['Legendary'])
obs

Legendary  False  True
Type 1
Bug           69      0
Dark          29      2
Dragon        20     12
Electric      40      4
Fairy         16      1
Fighting      27      0
Fire          47      5
Flying         2      2
Ghost         30      2
Grass         67      3
Ground        28      4
Ice           22      2
Normal        96      2
Poison        28      0
Psychic       43     14
Rock          40      4
Steel         23      4
Water        108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [75]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency(obs)

(90.42049130585958,
 5.118547414721707e-12,
 17,
 array([[ 63.39375,   5.60625],
        [ 28.48125,   2.51875],
        [ 29.4    ,   2.6    ],
        [ 40.425  ,   3.575  ],
        [ 15.61875,   1.38125],
        [ 24.80625,   2.19375],
        [ 47.775  ,   4.225  ],
        [  3.675  ,   0.325  ],
        [ 29.4    ,   2.6    ],
        [ 64.3125 ,   5.6875 ],
        [ 29.4    ,   2.6    ],
        [ 22.05   ,   1.95   ],
        [ 90.0375 ,   7.9625 ],
        [ 25.725  ,   2.275  ],
        [ 52.36875,   4.63125],
        [ 40.425  ,   3.575  ],
        [ 24.80625,   2.19375],
        [102.9    ,   9.1    ]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [20]:
# Your answer here:

# We reject our null-hypothesis of water type pokemon being higly related to legendary kind